@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background: #fff;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
